<div class="search">
  <form action="/anime-search" , method="GET">
    <input
      id="anime-input"
      type="text"
      name="anime"
      placeholder="Search an anime..."
    />
    <button type="submit">Search</button>
  </form>
</div>