<div id="index">
  <h1>Welcome to</h1>
  <img id="mainLogo" src="../images/My Post.jpg" alt="My Anime List logo" />
  <div>
    <button class="inBut"><a href="/auth/signup">Sign up</a></button>
    <button class="inBut"><a href="/auth/login">Log In</a></button>
  </div>
</div>